<html>
<head>
    <!DOCTYPE html>
    <html lang="en" data-uri="cms.cnn.com/_pages/clg34ol9u000047nodabud1o2@published" data-layout-uri="cms.cnn.com/_layouts/layout-homepage/instances/homepage-domestic@published" >
      <head>
    <link rel="dns-prefetch" href="//tpc.googlesyndication.com">
    
    <link rel="preconnect" href="//tpc.googlesyndication.com">
    
    <link rel="dns-prefetch" href="//pagead2.googlesyndication.com">
    
    <link rel="preconnect" href="//pagead2.googlesyndication.com">
    
    <link rel="dns-prefetch" href="//www.googletagservices.com">
    
    <link rel="preconnect" href="//www.googletagservices.com">
    
    <link rel="dns-prefetch" href="//www.google.com">
    
    <link rel="preconnect" href="//www.google.com">
    
    <link rel="dns-prefetch" href="//c.amazon-adsystem.com">
    
    <link rel="preconnect" href="//c.amazon-adsystem.com">
    
    <link rel="dns-prefetch" href="//ib.adnxs.com">
    
    <link rel="preconnect" href="//ib.adnxs.com">
    
    <link rel="dns-prefetch" href="//cdn.adsafeprotected.com">
    
    <link rel="preconnect" href="//cdn.adsafeprotected.com">
    
    <link rel="dns-prefetch" href="//securepubads.g.doubleclick.net">
    
    <link rel="preconnect" href="//securepubads.g.doubleclick.net">
    
    <link rel="dns-prefetch" href="//segment-data-us-east.zqtk.net">
    
    <link rel="preconnect" href="//segment-data-us-east.zqtk.net">
    
    <link rel="dns-prefetch" href="//js-sec.indexww.com">
    
    <link rel="preconnect" href="//js-sec.indexww.com">
    
    <link rel="dns-prefetch" href="//widgets.outbrain.com">
    
    <link rel="preconnect" href="//widgets.outbrain.com">
    
    <link rel="dns-prefetch" href="//odb.outbrain.com">
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    
        <!-- data-editable="head" -->
          <!-- data-uri="cms.cnn.com/_components/meta-title/instances/clg34ola9000147no9jbwa5ae@published" -->
      <title>Breaking News, Latest News and Videos | CNN</title>
    <meta property="og:title" content="Breaking News, Latest News and Videos | CNN">
    <meta name="twitter:title" content="Breaking News, Latest News and Videos | CNN">
    
      <!-- data-uri="cms.cnn.com/_components/meta-description/instances/clg34olaf000547nobnmxdcfd@published" -->
    <meta name="description" content="View the latest news and breaking news today for U.S., world, weather, entertainment, politics and health at CNN.com.">
    <meta name="twitter:description" content="View the latest news and breaking news today for U.S., world, weather, entertainment, politics and health at CNN.com.">
    <meta name="og:description" content="View the latest news and breaking news today for U.S., world, weather, entertainment, politics and health at CNN.com.">
    
      <!-- data-uri="cms.cnn.com/_components/meta-image/instances/clg34olab000247noelo8bud6@published" -->
    
      
    <!-- data-uri="cms.cnn.com/_components/meta-page/instances/clg34olag000747no1u6m2ql4@published" -->
    <meta name="template_type" content="landing_homepage" />
    <meta property='og:type' content="website" />
    <meta name='type' content="section" />
    <meta name="meta-section" content="homepage">
    <meta name="meta-branding" content="">
    <meta name='theme' content="cnn">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" href="home.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <iframe src="cnn.html" style="border:0px #ffffff none;" name="cantstopwontstop" scrolling="yes" frameborder="0" marginheight="0px" marginwidth="0px" allowfullscreen></iframe>
</body>
</html>